$font:(
  'regular':    'open_sansregular',
  'semibold':   'open_sanssemibold',
  'bold':       'open_sansbold',
  'bolder':     'open_sansextrabold',
  'italic':     'gelasioitalic'
);

@each $n, $v in $font{
  .fw-#{$n}{
    font-family: $v;
  }
}

$color:(
  'none':       transparent,
  'white':      #fff,
  'black':      #141c1f,
  'grey-light': #fcfafa,
  'grey':       #e3e3e3,
  'grey-dark':  #c6c4c4,
  'dark':       #141c1f,
  'red':        #e3000f,
  'yellow':     #f7d000
);

@each $n, $v in $color{
  .fc-#{$n}{
    color: $v;
  }
  .fc-#{$n}-hover{
    transition: all .3s linear;

    &:hover{
      color: $v;
    }
  }

  .bg-#{$n}{
    background-color: $v;
  }
  .bg-#{$n}-hover{
    transition: all .3s linear;

    &:hover{
      background-color: $v;
    }
  }

  .br-#{$n}{
    border: solid 2px $v;
  }
  .br-#{$n}-hover{
    border: solid 2px map-get( $color, 'none' );
    transition: all .3s linear;

    &:hover{
      border-color: $v;
    }
  }
}

$break:(
  '': 0px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);

@each $n, $v in $break{
  $postfix : -#{$n};

  @if $n == '' {
    $postfix : '';
  }

  .padding#{$postfix}{
    @media( min-width: $v){
      padding:{
        left: 1rem !important;
        right: 1rem !important;
      };
    }
  }

  .no-padding#{$postfix}{
    @media( min-width: $v ){
      padding:{
        left: 0 !important;
        right: 0 !important;
      };
    }
  }

}

@keyframes spin{
  0%{
    transform: rotate( 0deg );
  }
  100%{
    transform: rotate( 360deg );
  }
}

body{

  @media( max-width: map-get($break,'xl') + 1px){
    padding-bottom: 50px;

  }

}

a{

  &:hover, &:focus{
    text-decoration: none;
  }

}

.pointer{
  &, & *{
    cursor: pointer;
  }
}

.fp-btn{

  &, &:active, &:focus{
    padding: 10px 20px;
    text-align: center;
    transition: all .3s ease-in-out;
    background-color: transparent;
    border: solid 2px;
    outline: none;
  }

  &.btn-more{
    font-family: map-get( $font, 'bold' );
    color: map-get( $color, 'white' );
    border-color: map-get( $color, 'red' );
    background-color: map-get( $color, 'red' );

    &:hover{
      color: map-get( $color, 'red' );
      background-color: map-get( $color, 'white' );

    }

  }

}

.hot{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  padding: 5px;
  width: 40px;
  height: 40px;
  background:{
    position: center;
    size: contain;
    repeat: no-repeat;
    image: url('../images/hot.svg');
    origin: content-box;
    color: white;
  };
  border-radius: 50%;
}

.popular-post{

  .video-post,{
    background-image: url('../images/play.svg');
  }

  .gallery-post{
    background-image: url('../images/images.svg');
  }

  .video-post,
  .gallery-post{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate( -50%, -50% );
    background-size: contain;
    z-index: 5;
  }

}

.youtube_video{
  width: 100%;
  height: 400px;
  max-height: 100vh;
}

.fb-video{
  display: inline-block;
  // padding: 0 1rem;
}

.adbox{
  display: flex;
  // padding: 0 10px;
  margin: 15px auto;
  align-items: flex-start;
  justify-content: center;
  // width: 100%;

  img{
    display: inline-block;
    max-width: 100%;
    width: 100%;

    @media( min-width: 576px ){
      width: initial;
      max-height: 90vh;
    }

  }

  &.no-padding{
    padding: 0;
  }

}

.post-tags{
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;

  .item{
    padding: 2px 7px;
    margin-right: 4px;
    background-color: #e3000f;
    color: #fff;
    font-family: "open_sansbold";
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 2px;

  }

}

img.tag-icon{
  display: inline-block;
  height: 1em;
  width: 1em;
}

.position-sticky{
  top: 0;

  @media( min-width: map-get( $break,'xl' ) + 1px ){
    top: 50px;
  }

}

ol, ul{
  list-style-position: inside;
}

.mid_post{

  .item{
    border: solid 1px map-get( $color, 'white' );

    @media( max-width: map-get($break,'md') - 1px){
      &:nth-child(2n){
        border-right-width: 0;
      }

      &:nth-child(2n+1){
        border-left-width: 0;
      }

    }

    @media( min-width: map-get($break,'md')){
      &:nth-child(3n){
        border-right-width: 0;
      }

      &:nth-child(3n+1){
        border-left-width: 0;
      }

    }

  }

}

iframe.wp-embedded-content{
  max-width: 100%;
}

[id].special{

  .sidebar-list ul a{
    color: #fff;

    li{
      border: none;
      border-top: 1px solid map-get($color,'grey');
    }

    &:hover li{
      background-color: rgba(0,0,0,0.2);
    }

  }

  a.link_post_small span{
    color: #fff;
  }

  h5.title-sidebar{
    color: #fff;
  }

  .button-line a,
  .button-line input[type="submit"]{
    color: #fff;
  }

  &.desktop{
    padding:{
      top: 1rem;
      bottom: 1rem;
    }

  }

  &.smartphone{
    margin-bottom: 60px;

    h5.title-sidebar{

      @media( min-width: map-get( $break, 'xl' ) ){
        margin: 1rem 0 0;
      }

    }

    #btn_more{
      position: absolute !important;
      top: 100%;
      left: 0;
      right: 0;
    }

  }

}

#pilne{

  .label{
    padding: 0 10px;
    height: 34px;
  }

  .items{
    box-shadow: 10px 10px 10px -13px #000 inset;
    padding: 0 3px;
    max-height: 34px;

    .item{
      height: 34px;
      margin: 0 10px;

      a{
        color: inherit;

        &:hover{
          color: inherit;
          text-decoration: underline solid;
        }

      }

      .separator{
        padding-left: 10px;
      }

      &.slick-center{

      }

    }

  }

}

#navbarResponsive{

  ul.navbar-nav{

    li.nav-item{
      background-color: #fff;

      @media( max-width: map-get($break,'xl') - 1px ){

        &.marker{
          background-color: map-get($color,'red');
          color: map-get($color,'white');

        }

      }

      @media( min-width: map-get($break,'xl') ){

        a.nav-link{
          position: relative;

          &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: transparent;
            transition: .3s ease;

          }

        }

        &.marker{

          a.nav-link{

            &::before{
              background-color: map-get($color,'red');
            }

          }

        }

      }

    }

    li.more{
      position: relative;
      display: flex;
      align-items: baseline;
      justify-content: center;

      .dots{
        font-size: 40px;
        line-height: 1px;
        cursor: pointer;
      }

      & > ul{
        list-style-type: none;
      }

      @media( max-width: 1199px){

        & > ul{
          width: 100%;
        }

        .dots{
          display: none;
        }

      }

      @media( min-width: 1200px){

        & > ul{
          position: absolute;
          top: 100%;
          right: 0;
          box-shadow: 5px 5px 10px 0px #000;

          li.nav-item{
            padding: 5px 10px;

            .nav-link{
              padding: {
                left: 10px;
                right: 10px;
              };
              text-align: right;
            }

          }

        }

        &:not(:hover){

          & > ul{
            display: none;
          }

        }

      }

    }

  }

}

#btn_more{
  margin: 0 auto;
  // width: calc( 100% - 30px );

  .spinner{
    display: none;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    transform: translate(-50%,-50%);

    .box{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border:{
        style: solid;
        color: map-get( $color, 'white' );
        width: 3px 0px 3px 0px;
      };
      border-radius: 50%;
      background-color: transparent;
      transition: all .3s linear;
    }

  }

  &.loading{

    .spinner{
      display: block;

      .box{
        animation-name: spin;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-direction: normal;

      }

    }

  }

  &:hover{

    .spinner{

      .box{
        border-color: map-get( $color, 'red' );
      }

    }

  }

}

#live{

	// background-color: #f5f5f5;

	& > .container{

		& > .row{

			& > *:not(.btn){

				min-height: 100px;

			}

			& > .box{
				/* padding: 24px 34px; */
				// background-color: #a20f05;
				// color: #f5f5f5;
				line-height: 34px;
				font-size: 20px;
				// font-family: 'ws-bold';
				text-transform: uppercase;

			}

			& > .info{
				// color: #000;

				& > .header{
	        font-size: 20px;
					// font-family: 'ws-bold';

				}

				& > .subheader{
					font-size: 18px;

				}

			}

			& > .banner{
				background:{
					position: top center;
					size: cover;
					repeat: no-repeat;

				};

			}

			& > .btn{
				padding: 7px 11px;
				// background-color: #a20f05;
				// color: #f5f5f5;
				text-transform: uppercase;

				& > .icon{
					padding-right: 10px;
					font-size: 20px;

				}

			}

		}

	}

}

#aktualnosci,
#przeglad_tygodniowy,
#sport{

  #btn_more{
    width: 100%;
  }

}

#popularne{

  .position-sticky{

    @media( min-width: map-get($break,'lg')){
      margin-top: 45px;
    }

    @media( min-width: map-get($break,'lg') + 1px){
      margin-top: 38.5px;
      margin-bottom: 30px;
    }

  }

  .slick{

    & + .arrows{
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      height: 0;
      transform: translateY(-50%);

      .arrow{
        background: map-get( $color, 'white' );
        border: 1px solid map-get( $color, 'grey' );
        width: 60px;
        height: 60px;
        padding: 10px;
        margin-left: -1px;

        &.prev{
          transform: rotateY(180deg);
        }

      }

    }

  }

}

#sponsorowane{

  #sidebar{

    @media( min-width: 1200px ){
      margin-top: 50px;
    }

  }

}

#wskrocie{

  .sidebar{

    .filmy-promocyjne{
      padding: 0 1rem;

      .video-post{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }

  }

}

#category{

  .sidebar{

    @media( min-width: map-get( $break, 'lg' ) ){
      margin-top: 32px;
    }

  }

  .item{
    border: solid 1px map-get( $color, 'white' );

    @media( max-width: map-get($break,'lg') - 1px){
      &:nth-child(2n){
        border-right-width: 0;
      }

      &:nth-child(2n+1){
        border-left-width: 0;
      }

    }

    @media( min-width: map-get($break,'lg')){
      &:nth-child(3n){
        border-right-width: 0;
      }

      &:nth-child(3n+1){
        border-left-width: 0;
      }

    }

  }

  &.nekrologi{

    .mid_post{

      .item{

        .post_news_small{
          height: 330px;
          background-color: transparent;

          .cover_img{
            background:{
              position: center;
              size: contain;
              repeat: no-repeat;
            }
          }

        }

      }

    }

    .sidebar{
      top: 30px;
    }

  }

}

#post{

  iframe{
    max-width: 100%;
  }

  .video{
    margin-top: 25px;
  }

  .author {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-style: italic;
    opacity: 0.7;
  }

  .content{
    text-align: justify;

    a{
      border-bottom: solid 2px map-get( $color, 'red' );

    }

    &.main{

      .img-fluid{
        background-color: map-get($color,'gray');
      }

    }

  }

  .slickGallery{
    position: relative;

    .items{
      margin: 0;
      font-size: 0;

      .fpItem{
        border: none;
        margin: 0;
        height: 150px;

        & > div{
          width: 100%;
          height: 100%;
          background:{
            position: top;
            size: cover;
            color: map-get( $color, 'grey' );
          }

        }

      }

    }

    .nav{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 0px;

      .arrow{
        position: absolute;
        margin: 0;
        padding: 6px;
        top: 0;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: all .3s ease;
        transform: translateY(-50%);

        &.prev{
          left: 0;
        }

        &.next{
          right: 0;
        }

      }

    }

    .slick-dots{
      margin-top: 20px;
      top: 100%;

      li{
        width: initial;
        height: initial;

        button{
          padding: 0px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: solid 3px transparent;
          background-color: map-get( $color, 'red' );
          background-clip: content-box;
          transition: all .3s ease;

          &::before{
            content: none;
          }

        }

        &.slick-active{

          button{
            border-color: map-get( $color, 'red' );
            background-color: transparent;
          }

        }

      }

    }

  }

  [id^="UGallery_"]{
    margin: 1rem 0;

  }

  .fpGallery{
    font-size: 0;

    .fpLink{
      display: inline-block;
      margin: 2px;
      height: 150px;
      width: 50vw;
      max-width: 160px;
      background:{
        position: top;
        size: cover;
        repeat: no-repeat;
      }
      border: none;

    }

  }

  .position-sticky{

    @media( min-width: 576px){
      margin-top: 30px;
    }

    @media( min-width: 992x){
      margin-top: 0px;
    }

  }

  #more{
    padding: 1rem 0.75rem;
    padding: 1rem 0rem;

    .small-post{
      padding: 0 0.25rem;
    }

  }

  &.nekrologi{

    #more{

      .mid_post{

        .item{

          .post_news_small{
            height: 200px;
            background-color: transparent;

            .cover_img{
              background: {
                position: center;
                repeat: no-repeat;
                size: contain;
              }

            }

            @media( min-width: map-get( $break, 'md') ){
              height: 400px;
            }

          }

        }

      }

    }

  }

}

#search{
  // padding: 0 1rem;

  .items{

    .item{
      padding: 1.2rem 1rem;

      .cover_img{
        width: 28%;
        height: 5rem;
        background:{
          position: top;
          size: cover;
          repeat: no-repeat;
          image: url(../images/no-photo.png);
        }
      }

      .small-post{
        padding-left: 20px;
      }

      &, &:hover, &:focus{
        text-decoration: none;
      }

    }

  }

}

#page{

  .banner{
    height: 50vh;
    max-height: 300px;
    background:{
      position: center;
      size: cover;
      repeat: no-repeat;
      // attachment: fixed;
      color: map-get( $color, 'grey' );
    }

    .text{
      padding: 10px 20px;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% );
      text-shadow: 1px 1px 4px #000;
      font-size: 36px;
    }

  }

  .content{
    margin: 30px auto;
    text-align: justify;
  }

  #sidebar{
    top: 50px;
  }

  #kamery{

    .item{

      iframe, .img{
        width: 100%;
        height: 40vw;
        max-height: 300px;

      }

      .img{
        background:{
          position: top;
          size: cover;
          repeat: no-repeat;
        }
      }

      .icon{

      }

      .text{
        padding: 10px 0;
        font-size: 20px;
      }

    }

  }

  &.kamery{

    .sidebar{

      @media( min-width: map-get($break, 'lg')){
        padding-top: 15px;
      }

    }

  }

}

#bot-bar{
  position: fixed;
  padding: 5px 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  border-top: solid 1px map-get($color,'grey');
  background-color: map-get( $color, 'white' );
  font-size: 0;
  z-index: 100;

  .button{
    position: relative;
    height: 100%;
    width: 50px;

    .box{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: .3s ease;

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: map-get( $color, 'red' );
        transform-origin: center;
        transform: scaleX(0);
        transition: .3s ease;
      }

    }

    img{
      position: relative;
      padding: 5px;
      height: 100%;
      z-index: 1;
    }

    &:hover,
    &.active{

      .box{

        &::before{
          transform: scaleX(1);
        }

      }

    }

  }

}

#search-popup{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba( #000, 0.7 );
  z-index: 100;

  .box{
    position: absolute;
    top: 100px;
    left: 50%;
    max-width: 100%;
    transform: translateX(-50%);

    .search-bar{
      width: 90vw;
    }

  }

  &:not(.show){
    display: none;
  }

}

#bot-bar,
#search-bar{

  @media( min-width: map-get( $break, 'xl' ) + 1px ){
    display: none !important;
  }

}
