.fw-regular {
  font-family: "open_sansregular";
}

.fw-semibold {
  font-family: "open_sanssemibold";
}

.fw-bold {
  font-family: "open_sansbold";
}

.fw-bolder {
  font-family: "open_sansextrabold";
}

.fw-italic {
  font-family: "gelasioitalic";
}

.fc-none {
  color: transparent;
}

.fc-none-hover {
  transition: all .3s linear;
}

.fc-none-hover:hover {
  color: transparent;
}

.bg-none {
  background-color: transparent;
}

.bg-none-hover {
  transition: all .3s linear;
}

.bg-none-hover:hover {
  background-color: transparent;
}

.br-none {
  border: solid 2px transparent;
}

.br-none-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-none-hover:hover {
  border-color: transparent;
}

.fc-white {
  color: #fff;
}

.fc-white-hover {
  transition: all .3s linear;
}

.fc-white-hover:hover {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-white-hover {
  transition: all .3s linear;
}

.bg-white-hover:hover {
  background-color: #fff;
}

.br-white {
  border: solid 2px #fff;
}

.br-white-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-white-hover:hover {
  border-color: #fff;
}

.fc-black {
  color: #141c1f;
}

.fc-black-hover {
  transition: all .3s linear;
}

.fc-black-hover:hover {
  color: #141c1f;
}

.bg-black {
  background-color: #141c1f;
}

.bg-black-hover {
  transition: all .3s linear;
}

.bg-black-hover:hover {
  background-color: #141c1f;
}

.br-black {
  border: solid 2px #141c1f;
}

.br-black-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-black-hover:hover {
  border-color: #141c1f;
}

.fc-grey-light {
  color: #fcfafa;
}

.fc-grey-light-hover {
  transition: all .3s linear;
}

.fc-grey-light-hover:hover {
  color: #fcfafa;
}

.bg-grey-light {
  background-color: #fcfafa;
}

.bg-grey-light-hover {
  transition: all .3s linear;
}

.bg-grey-light-hover:hover {
  background-color: #fcfafa;
}

.br-grey-light {
  border: solid 2px #fcfafa;
}

.br-grey-light-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-grey-light-hover:hover {
  border-color: #fcfafa;
}

.fc-grey {
  color: #e3e3e3;
}

.fc-grey-hover {
  transition: all .3s linear;
}

.fc-grey-hover:hover {
  color: #e3e3e3;
}

.bg-grey {
  background-color: #e3e3e3;
}

.bg-grey-hover {
  transition: all .3s linear;
}

.bg-grey-hover:hover {
  background-color: #e3e3e3;
}

.br-grey {
  border: solid 2px #e3e3e3;
}

.br-grey-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-grey-hover:hover {
  border-color: #e3e3e3;
}

.fc-grey-dark {
  color: #c6c4c4;
}

.fc-grey-dark-hover {
  transition: all .3s linear;
}

.fc-grey-dark-hover:hover {
  color: #c6c4c4;
}

.bg-grey-dark {
  background-color: #c6c4c4;
}

.bg-grey-dark-hover {
  transition: all .3s linear;
}

.bg-grey-dark-hover:hover {
  background-color: #c6c4c4;
}

.br-grey-dark {
  border: solid 2px #c6c4c4;
}

.br-grey-dark-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-grey-dark-hover:hover {
  border-color: #c6c4c4;
}

.fc-dark {
  color: #141c1f;
}

.fc-dark-hover {
  transition: all .3s linear;
}

.fc-dark-hover:hover {
  color: #141c1f;
}

.bg-dark {
  background-color: #141c1f;
}

.bg-dark-hover {
  transition: all .3s linear;
}

.bg-dark-hover:hover {
  background-color: #141c1f;
}

.br-dark {
  border: solid 2px #141c1f;
}

.br-dark-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-dark-hover:hover {
  border-color: #141c1f;
}

.fc-red {
  color: #e3000f;
}

.fc-red-hover {
  transition: all .3s linear;
}

.fc-red-hover:hover {
  color: #e3000f;
}

.bg-red {
  background-color: #e3000f;
}

.bg-red-hover {
  transition: all .3s linear;
}

.bg-red-hover:hover {
  background-color: #e3000f;
}

.br-red {
  border: solid 2px #e3000f;
}

.br-red-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-red-hover:hover {
  border-color: #e3000f;
}

.fc-yellow {
  color: #f7d000;
}

.fc-yellow-hover {
  transition: all .3s linear;
}

.fc-yellow-hover:hover {
  color: #f7d000;
}

.bg-yellow {
  background-color: #f7d000;
}

.bg-yellow-hover {
  transition: all .3s linear;
}

.bg-yellow-hover:hover {
  background-color: #f7d000;
}

.br-yellow {
  border: solid 2px #f7d000;
}

.br-yellow-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-yellow-hover:hover {
  border-color: #f7d000;
}

@media (min-width: 0px) {
  .padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (min-width: 0px) {
  .no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 576px) {
  .padding-sm {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (min-width: 576px) {
  .no-padding-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 768px) {
  .padding-md {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (min-width: 768px) {
  .no-padding-md {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 992px) {
  .padding-lg {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (min-width: 992px) {
  .no-padding-lg {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 1200px) {
  .padding-xl {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media (min-width: 1200px) {
  .no-padding-xl {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1201px) {
  body {
    padding-bottom: 50px;
  }
}

#_debug {
  display: none;
}

a:hover, a:focus {
  text-decoration: none;
}

.debug {
  display: none;
}

.pointer, .pointer * {
  cursor: pointer;
}

.fp-btn, .fp-btn:active, .fp-btn:focus {
  padding: 10px 20px;
  text-align: center;
  transition: all .3s ease-in-out;
  background-color: transparent;
  border: solid 2px;
  outline: none;
}

.fp-btn.btn-more {
  font-family: "open_sansbold";
  color: #fff;
  border-color: #e3000f;
  background-color: #e3000f;
}

.fp-btn.btn-more:hover {
  color: #e3000f;
  background-color: #fff;
}

.hot {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/hot.svg");
  background-origin: content-box;
  background-color: white;
  border-radius: 50%;
}

.popular-post .video-post {
  background-image: url("../images/play.svg");
}

.popular-post .gallery-post {
  background-image: url("../images/images.svg");
}

.popular-post .video-post,
.popular-post .gallery-post {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  background-size: contain;
  z-index: 5;
}

.youtube_video {
  width: 100%;
  height: 400px;
  max-height: 100vh;
}

.fb-video {
  display: inline-block;
}

.adbox {
  display: flex;
  margin: 15px auto;
  align-items: flex-start;
  justify-content: center;
}

.adbox img {
  display: inline-block;
  max-width: 100%;
  width: 100%;
}

@media (min-width: 576px) {
  .adbox img {
    width: initial;
    max-height: 90vh;
  }
}

.adbox.no-padding {
  padding: 0;
}

.post-tags {
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
}

.post-tags .item {
  padding: 2px 7px;
  margin-right: 4px;
  background-color: #e3000f;
  color: #fff;
  font-family: "open_sansbold";
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 2px;
}

img.tag-icon {
  display: inline-block;
  height: 1.26em;
  width: 1.26em;
  margin-top: -3px;
}

.position-sticky {
  top: 0;
}

@media (min-width: 1201px) {
  .position-sticky {
    top: 10px;
  }
}

ol, ul {
  list-style-position: inside;
}

.items .item:not(.big) {
  border: solid #fff;
  border-width: 0 1px;
}

iframe.wp-embedded-content {
  max-width: 100%;
}

.big-post #video {
  background-color: #141c1f;
}

.link_post.big .title {
  display: block;
  padding: 10px 0;
  margin: 0;
  font-size: 1.1rem;
  font-family: "open_sansbold";
}

.link_post.big .title, .link_post.big .title:hover {
  color: inherit;
}

[id] .link_post.big {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 0;
  z-index: 100;
}

[id] .link_post.big.video .big-post {
  height: initial;
  padding: 0;
  margin: 0;
}

[id] .link_post.big.video .big-post .post_news_big {
  position: static;
}

[id] .link_post.big.video .title {
  padding: 5px;
  font-size: 0.8rem;
}

[id] .link_post .big-post .post_news_big span {
  padding: 15px;
  font-size: 1.3rem;
}

[id] .sidebar-list ul a {
  border-bottom: dashed 1px #ccc;
}

[id] .sidebar-list ul a li {
  border: none;
  padding: 0;
}

[id] .sidebar-list ul a li .image-container {
  margin-right: 10px;
}

[id] .sidebar-list ul a li span {
  padding-left: 0;
}

[id] .sidebar-list .title-sidebar {
  margin-left: 0;
}

[id].smartphone .link_post.big {
  margin-bottom: 2px;
}

[id].smartphone .link_post .big-post {
  padding-bottom: 56.25%;
}

[id].smartphone .link_post_small span {
  margin: 0;
  padding: 10px;
}

@media (orientation: portrait) {
  [id].tablet .link_post.big.video .title {
    font-size: 0.6rem;
  }
}

[id].desktop .title-sidebar {
  margin-left: 10px;
}

[id].desktop .link_post.big .title {
  font-size: 1rem;
}

@media (min-width: 992px) {
  [id].desktop .link_post.big .title {
    font-size: 1.1rem;
  }
}

[id].desktop .link_post .big-post {
  padding-bottom: 56.25%;
}

[id].desktop .link_post .big-post .post_news_big span {
  font-size: 1rem;
}

@media (min-width: 768px) {
  [id].desktop .link_post .big-post .post_news_big span {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  [id].desktop .link_post .big-post .post_news_big span {
    font-size: 2rem;
  }
}

[id].desktop .image-sidebar-section a li span {
  font-size: 1.1rem;
}

[id].desktop .button-line {
  padding: 10px 0;
}

[id]:not(.smartphone) [class^="link_post"] {
  padding-right: 10px;
}

[id].special .sidebar-list ul a {
  color: #fff;
  border-bottom: dashed 1px rgba(255, 255, 255, 0.55);
}

@media (max-width: 768px) {
  [id].special .sidebar-list ul a:nth-child(n+4) {
    display: none;
  }
}

@media (max-width: 992px) {
  [id].special .sidebar-list ul a:nth-child(n+5) {
    display: none;
  }
}

[id].special a.link_post_small span {
  color: #fff;
}

[id].special h5.title-sidebar {
  color: #fff;
}

[id].special .button-line a,
[id].special .button-line input[type="submit"] {
  color: #fff;
}

[id].special.desktop {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

[id].special.desktop .link_post.big.video .big-post {
  padding: 0;
}

[id].special.desktop .link_post .big-post {
  padding-bottom: 56.25%;
}

[id].special.smartphone {
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  [id].special.smartphone h5.title-sidebar {
    margin: 1rem 0 0;
  }
}

[id].special.smartphone #btn_more {
  position: absolute !important;
  top: 100%;
  left: 0;
  right: 0;
}

[id].special.smartphone .link_post.big {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  [data-post-type='big'] {
    margin-bottom: 10px;
  }
}

.image-sidebar-section.alt a li {
  padding: 0.5rem 1rem;
}

.image-sidebar-section.alt a li .image-container {
  margin-right: 20px;
}

.image-sidebar-section.alt a li span {
  padding-left: 0;
}

.image-sidebar-section.alt a:nth-child(n+2) li .image-container {
  display: none;
}

.media_player {
  cursor: pointer;
  background-color: #141c1f;
}

nav.navbar {
  position: relative;
  z-index: 10002;
}

nav.navbar #navbarResponsive ul.navbar-nav li.nav-item {
  background-color: #fff;
}

@media (max-width: 1199px) {
  nav.navbar #navbarResponsive ul.navbar-nav li.nav-item.marker {
    background-color: #e3000f;
    color: #fff;
  }
}

@media (min-width: 1200px) {
  nav.navbar #navbarResponsive ul.navbar-nav li.nav-item a.nav-link {
    position: relative;
  }
  nav.navbar #navbarResponsive ul.navbar-nav li.nav-item a.nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: transparent;
    transition: .3s ease;
  }
  nav.navbar #navbarResponsive ul.navbar-nav li.nav-item.marker a.nav-link::before {
    background-color: #e3000f;
  }
}

nav.navbar #navbarResponsive ul.navbar-nav li.more {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

nav.navbar #navbarResponsive ul.navbar-nav li.more .dots {
  font-size: 40px;
  line-height: 1px;
  cursor: pointer;
}

nav.navbar #navbarResponsive ul.navbar-nav li.more > ul {
  list-style-type: none;
}

@media (max-width: 1199px) {
  nav.navbar #navbarResponsive ul.navbar-nav li.more > ul {
    width: 100%;
  }
  nav.navbar #navbarResponsive ul.navbar-nav li.more .dots {
    display: none;
  }
}

@media (min-width: 1200px) {
  nav.navbar #navbarResponsive ul.navbar-nav li.more > ul {
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 5px 5px 10px 0px #000;
  }
  nav.navbar #navbarResponsive ul.navbar-nav li.more > ul li.nav-item {
    padding: 5px 10px;
  }
  nav.navbar #navbarResponsive ul.navbar-nav li.more > ul li.nav-item .nav-link {
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
  }
  nav.navbar #navbarResponsive ul.navbar-nav li.more:not(:hover) > ul {
    display: none;
  }
}

@media (max-width: 1199px) {
  nav.navbar #navbarResponsive {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    z-index: 1000;
  }
}

footer.smartphone .foot-content .row {
  flex-direction: column;
}

footer.smartphone .foot-content .row .logo_menu {
  flex-direction: column;
}

#main_menu {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  z-index: 999;
}

#main_menu .logo {
  display: block;
}

#main_menu nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

#main_menu nav .items {
  margin: 0;
  display: flex;
  flex-grow: 1;
  list-style: none;
  color: #000;
  overflow: hidden;
  max-width: 100%;
}

#main_menu nav .items .item {
  padding: 6px 20px 6px 0;
  display: flex;
}

#main_menu nav .items .item a {
  position: relative;
  padding: .5rem 0;
  font-size: 1rem;
  font-family: "open_sansbold";
  text-transform: uppercase;
  white-space: nowrap;
  color: inherit;
}

#main_menu nav .items .item a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transition: .3s ease;
}

#main_menu nav .items .item a::after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background: #e3000f;
  transition: 0.3s;
}

#main_menu nav .items .item a:hover::after {
  width: 100%;
}

#main_menu nav .items .item.marker a::before {
  background-color: #e3000f;
}

#main_menu nav .more {
  display: flex;
  align-items: center;
  position: relative;
  padding: 6px 0;
  height: 3em;
  width: 50px;
}

#main_menu nav .more .dots {
  font-size: 40px;
  line-height: 1px;
  cursor: pointer;
  font-weight: bold;
}

#main_menu nav .more ul.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: absolute;
  top: 100%;
  right: 0;
  width: 270px;
  max-width: 100vw;
  list-style: none;
  background-color: #fff;
  z-index: 99;
  box-shadow: 1px 1px 10px -5px #000;
}

#main_menu nav .more ul.items li.item {
  padding: 6px;
  flex-basis: 50%;
}

#main_menu nav .more ul.items li.item a {
  width: 100%;
  height: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  #main_menu nav .more ul.items li.item {
    flex-basis: 130px;
  }
}

#main_menu nav .more ul.items.small {
  width: auto;
}

#main_menu nav .more:not(.open) .items {
  display: none;
}

#video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 61.8%;
  padding-bottom: 56.25%;
}

#video .player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141c1f;
}

#video .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
}

#video .overlay img {
  margin: 0 20px;
  width: 40px;
  height: 40px;
}

#video.pop {
  position: fixed;
  padding: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 56.25vw;
  z-index: 100;
}

#video.pop:hover {
  transform: scale(1);
}

@media (min-width: 768px) {
  #video.pop {
    width: calc(768px * 0.5);
    height: calc(768px * 0.5 / 16 * 9);
  }
}

@media (min-width: 992px) {
  #video.pop {
    width: calc(100vw * 0.33);
    height: calc(100vw * 0.33 / 16 * 9);
  }
}

@media (min-width: 1200px) {
  #video.pop {
    width: calc(1200px * 0.33);
    height: calc(1200px * 0.33 / 16 * 9);
  }
}

#fixed_video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  max-width: 480px;
  background-color: #141c1f;
}

#pilne {
  max-height: 34px;
  max-height: 68px;
  overflow: hidden;
}

#pilne .label {
  padding: 0 10px;
}

#pilne .items {
  box-shadow: 10px 10px 10px -13px #000 inset;
  padding: 0 3px;
  max-height: 34px;
  max-height: 68px;
  max-width: calc( 100% - 60px);
  overflow: hidden;
}

#pilne .items .box {
  display: flex;
}

#pilne .items .item {
  margin: 5px 0px;
  border: none;
}

#pilne .items .item a {
  color: inherit;
  white-space: nowrap;
}

#pilne .items .item a:hover {
  color: inherit;
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
}

#pilne .items .item .separator {
  padding: 0 10px;
}

#btn_more {
  margin: 0 auto;
}

#btn_more .spinner {
  display: none;
  top: 50%;
  left: 20px;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}

#btn_more .spinner .box {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-color: #fff;
  border-width: 3px 0px 3px 0px;
  border-radius: 50%;
  background-color: transparent;
  transition: all .3s linear;
}

#btn_more.loading .spinner {
  display: block;
}

#btn_more.loading .spinner .box {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

#btn_more:hover .spinner .box {
  border-color: #e3000f;
}

#live > .container > .row > *:not(.btn) {
  min-height: 100px;
}

#live > .container > .row > .box {
  /* padding: 24px 34px; */
  line-height: 34px;
  font-size: 20px;
  text-transform: uppercase;
}

#live > .container > .row > .info > .header {
  font-size: 20px;
}

#live > .container > .row > .info > .subheader {
  font-size: 18px;
}

#live > .container > .row > .banner {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

#live > .container > .row > .btn {
  padding: 7px 11px;
  text-transform: uppercase;
}

#live > .container > .row > .btn > .icon {
  padding-right: 10px;
  font-size: 20px;
}

#aktualnosci #btn_more,
#przeglad_tygodniowy #btn_more,
#sport #btn_more {
  width: 100%;
}

@media (orientation: portrait) {
  #aktualnosci.desktop .sidebar-list a:nth-child(n+11),
  #aktualnosci.desktop .image-sidebar-section a:nth-child(n+11) {
    display: none;
  }
}

@media (orientation: portrait) {
  #aktualnosci.tablet .sidebar-list a:nth-child(n+12),
  #aktualnosci.tablet .image-sidebar-section a:nth-child(n+12) {
    display: none;
  }
}

#przeglad_tygodniowy:not(.smartphone) .adbox {
  padding-right: 10px;
}

#przeglad_tygodniowy.desktop .adbox {
  margin: 15px 10px;
}

@media (orientation: portrait) {
  #przeglad_tygodniowy.desktop .sidebar-list a:nth-child(n+10),
  #przeglad_tygodniowy.desktop .image-sidebar-section a:nth-child(n+10) {
    display: none;
  }
}

@media (orientation: landscape) {
  #przeglad_tygodniowy.desktop .sidebar-list a:nth-child(n+18),
  #przeglad_tygodniowy.desktop .image-sidebar-section a:nth-child(n+18) {
    display: none;
  }
}

@media (orientation: portrait) {
  #przeglad_tygodniowy.tablet .sidebar-list a:nth-child(n+7),
  #przeglad_tygodniowy.tablet .image-sidebar-section a:nth-child(n+7) {
    display: none;
  }
}

@media (orientation: landscape) {
  #przeglad_tygodniowy.tablet .sidebar-list a:nth-child(n+9),
  #przeglad_tygodniowy.tablet .image-sidebar-section a:nth-child(n+9) {
    display: none;
  }
}

@media (orientation: portrait) {
  #sport.desktop .sidebar-list a:nth-child(n+8),
  #sport.desktop .image-sidebar-section a:nth-child(n+8) {
    display: none;
  }
}

@media (orientation: portrait) {
  #sport.tablet .sidebar-list a:nth-child(n+7),
  #sport.tablet .image-sidebar-section a:nth-child(n+7) {
    display: none;
  }
}

@media (orientation: landscape) {
  #sport.tablet .sidebar-list a:nth-child(n+8),
  #sport.tablet .image-sidebar-section a:nth-child(n+8) {
    display: none;
  }
}

@media (orientation: portrait) {
  #chicago.tablet .image-sidebar-section a:nth-child(n+10) {
    display: none;
  }
}

@media (orientation: portrait) {
  #chicago.desktop .image-sidebar-section a:nth-child(n+9) {
    display: none;
  }
}

#popularne .slick + .arrows {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  height: 0;
  transform: translateY(-50%);
}

#popularne .slick + .arrows .arrow {
  background: #fff;
  border: 1px solid #e3e3e3;
  width: 60px;
  height: 60px;
  padding: 10px;
  margin-left: -1px;
}

#popularne .slick + .arrows .arrow.prev {
  transform: rotateY(180deg);
}

#popularne .link_post_small span {
  font-size: 2.5rem;
}

#popularne [data-post-type="large"] {
  padding-right: 2px;
}

#popularne [data-post-type="large"] .post_news_small {
  height: 0;
}

#popularne [data-post-type="large"] .post_news_small .mask-popular {
  background-position: bottom;
}

@media (orientation: landscape) {
  #popularne [data-post-type="large"] .post_news_small {
    padding-bottom: 120%;
  }
}

@media (orientation: portrait) {
  #popularne [data-post-type="large"] .post_news_small {
    padding-bottom: 150%;
  }
}

#popularne [data-post-type="large"] .adbox {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
}

#popularne [data-post-type="large"] .adbox img {
  max-height: initial;
}

#popularne.smartphone [data-post-type="large"] {
  padding-right: 2px;
}

@media (orientation: landscape) {
  #popularne.smartphone [data-post-type="large"] .post_news_small {
    padding-bottom: 56.25%;
  }
}

#popularne.desktop .sidebar-list {
  padding-top: 2.3rem;
}

#popularne.desktop [data-post-type="large"] {
  padding-right: 0;
  margin: 2px;
}

@media (max-width: 992px) {
  #popularne.desktop .slick [data-post-type="large"] {
    margin: 0 -12px;
  }
}

#popularne.desktop .adbox {
  margin-top: 0.85rem;
  justify-content: center;
}

@media (min-width: 992px) {
  #popularne.desktop .adbox {
    justify-content: flex-start;
  }
}

#popularne:not(.desktop) .slick .adbox {
  position: relative;
  margin: 0;
  height: 37rem;
}

#popularne:not(.desktop) .slick .adbox::before {
  content: 'Reklama';
  position: absolute;
  padding: 5px;
  padding: 2px 7px;
  margin: 10px;
  top: 0;
  left: 0;
  color: #fff;
  font-family: "open_sansbold";
  font-size: 0.8rem;
  background-color: #e3000f;
  text-transform: uppercase;
  border-radius: 2px;
}

#popularne:not(.desktop) .slick .adbox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@media (min-width: 1200px) {
  #sponsorowane #sidebar {
    margin-top: 50px;
  }
}

#wskrocie .sidebar .filmy-promocyjne .video-post {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wskrocie:not(.smartphone) .adbox {
  padding-right: 10px;
}

@media (min-width: 992px) {
  #category .sidebar {
    margin-top: calc( 3.25rem - 12px);
  }
}

@media (min-width: 1200px) {
  #category .sidebar {
    margin-top: calc( 2.75rem - 12px);
  }
}

#category.nekrologi .items .item .post_news_small {
  padding-bottom: 150%;
  background-color: transparent;
}

#category.nekrologi .items .item .post_news_small .cover_img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  #category.nekrologi .image-sidebar-section ul a:nth-child(n+9),
  #category.nekrologi .sidebar-list ul a:nth-child(n+9) {
    display: none;
  }
}

#category.galeria .cover_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#category.galeria .cover_img .counter {
  display: flex;
  align-items: center;
  padding: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 10px 0 0;
  color: #fff;
}

#category.galeria .cover_img .counter img {
  width: 20px;
  margin-right: 10px;
}

#category.galeria .image-sidebar-section ul a:nth-child(n+9),
#category.galeria .sidebar-list ul a:nth-child(n+9) {
  display: none;
}

#category .noposts {
  margin: 50px 0;
}

#category .link_post.big {
  margin: 0;
}

#category .link_post_small .content img {
  margin: 0;
}

#category .mid_post .item {
  border: solid 1px transparent;
}

#category.desktop .link_post.big {
  margin: 0 0 10px;
}

@media (max-width: 992px) and (orientation: portrait) {
  #category.desktop:not(.nekrologi) .image-sidebar-section ul a:nth-child(n+7),
  #category.desktop:not(.nekrologi) .sidebar-list ul a:nth-child(n+7) {
    display: none;
  }
}

#category.tablet .link_post.big {
  margin-bottom: 10px;
}

@media (max-width: 992px) and (orientation: portrait) {
  #category.tablet .image-sidebar-section ul a:nth-child(n+8),
  #category.tablet .sidebar-list ul a:nth-child(n+8) {
    display: none;
  }
}

#category.smartphone .link_post.big {
  padding: 0px;
  margin: 0 0 2px;
}

#category.smartphone .items .item {
  border: solid 1px transparent;
}

@media (max-width: 992px) and (orientation: landscape) {
  #category.smartphone .image-sidebar-section ul a:nth-child(n+5),
  #category.smartphone .sidebar-list ul a:nth-child(n+5) {
    display: none;
  }
}

#UGallery {
  margin: 1rem 0;
  width: 100% !important;
}

#post [id^="attachment"] {
  max-width: 100%;
}

#post iframe {
  max-width: 100%;
  max-height: 100%;
}

#post .before-content {
  text-align: justify;
}

#post .content {
  text-align: justify;
}

#post .content a {
  border-bottom: dotted 2px #e3000f;
  color: inherit;
}

#post .content a::after {
  content: '';
  padding: 3px;
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-left: 0.4em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-image: url(../images/foreign.svg);
}

#post .after_content {
  margin: 30px 10px;
}

#post .after_content .separator {
  margin: 0 10px;
  position: relative;
  display: inline-block;
  height: 20px;
  width: 1px;
  background-color: #e3e3e3;
}

#post .after_content .author {
  text-transform: uppercase;
  font-style: italic;
  opacity: 0.7;
}

#post .after_content .date {
  font-size: 1rem;
  color: #8e8e8e;
}

#post .slickGallery {
  position: relative;
}

#post .slickGallery .items {
  margin: 0;
  font-size: 0;
}

#post .slickGallery .items .fpItem {
  border: none;
  margin: 0;
  height: 150px;
}

#post .slickGallery .items .fpItem > div {
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
  background-color: #e3e3e3;
}

#post .slickGallery .nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 0px;
}

#post .slickGallery .nav .arrow {
  position: absolute;
  margin: 0;
  padding: 6px;
  top: 0;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease;
  transform: translateY(-50%);
}

#post .slickGallery .nav .arrow.prev {
  left: 0;
}

#post .slickGallery .nav .arrow.next {
  right: 0;
}

#post .slickGallery .slick-dots {
  margin-top: 20px;
  top: 100%;
}

#post .slickGallery .slick-dots li {
  width: initial;
  height: initial;
}

#post .slickGallery .slick-dots li button {
  padding: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 3px transparent;
  background-color: #e3000f;
  background-clip: content-box;
  transition: all .3s ease;
}

#post .slickGallery .slick-dots li button::before {
  content: none;
}

#post .slickGallery .slick-dots li.slick-active button {
  border-color: #e3000f;
  background-color: transparent;
}

#post .fpGallery {
  font-size: 0;
}

#post .fpGallery .fpLink {
  display: inline-block;
  margin: 2px;
  height: 150px;
  width: 50vw;
  max-width: 160px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

#post .video {
  height: 0;
  padding-bottom: 56.25%;
}

#post #more .link_post_small {
  padding: 0 5px;
}

#post.nekrologi #more .mid_post .item .post_news_small {
  height: 200px;
  background-color: transparent;
}

#post.nekrologi #more .mid_post .item .post_news_small .cover_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  #post.nekrologi #more .mid_post .item .post_news_small {
    height: 400px;
  }
}

#post.nekrologi .post_news_small {
  background-color: transparent;
  padding-bottom: 100%;
}

#post.nekrologi .post_news_small .cover_img {
  background-size: contain;
  background-repeat: no-repeat;
}

#post.smartphone #video.pop {
  bottom: 40px;
}

#post.smartphone #more .link_post_small span {
  margin: 0;
  padding: 10px 0;
}

@media (max-width: 992px) and (orientation: landscape) {
  #post.smartphone .image-sidebar-section ul a:nth-child(n+5),
  #post.smartphone .sidebar-list ul a:nth-child(n+5) {
    display: none;
  }
}

@media (orientation: landscape) {
  #post.tablet.nekrologi .sidebar-list ul a:nth-child(n+9) {
    display: none;
  }
}

@media (orientation: portrait) {
  #post.tablet .image-sidebar-section ul a:nth-child(n+7),
  #post.tablet .sidebar-list ul a:nth-child(n+7) {
    display: none;
  }
}

@media (max-width: 992px) {
  #post.desktop .sidebar-list ul a:nth-child(n+7) {
    display: none;
  }
}

#post.desktop #video:not(.pop) {
  margin-bottom: 30px;
}

#post.desktop .zajawka {
  margin-bottom: 30px;
}

#post:not(.desktop) #video.pop {
  bottom: 40px;
}

@media (max-width: 992px) {
  #tablice .image-sidebar-section ul a:nth-child(n+8),
  #tablice .sidebar-list ul a:nth-child(n+8) {
    display: none;
  }
}

#page .banner {
  height: 50vh;
  max-height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e3e3e3;
}

#page .banner .text {
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 4px #000;
  font-size: 36px;
}

#page .content {
  margin: 30px auto;
  text-align: justify;
}

#page #sidebar {
  top: 50px;
}

#page #kamery .item {
  margin-bottom: 10px;
}

#page #kamery .item .iframe_wrapper {
  position: relative;
  padding-bottom: 56.25%;
}

#page #kamery .item .iframe_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#page #kamery .item .img {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#page #kamery .item .text {
  display: block;
  margin-top: 5px;
  color: #141c1f;
  font-size: 1.3rem;
  font-family: "open_sanssemibold";
}

@media (min-width: 992px) {
  #page.kamery .sidebar {
    padding-top: 15px;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  #page.smartphone .image-sidebar-section ul a:nth-child(n+6),
  #page.smartphone .sidebar-list ul a:nth-child(n+6) {
    display: none;
  }
}

@media (max-width: 992px) and (orientation: portrait) {
  #page.tablet .image-sidebar-section ul a:nth-child(n+7),
  #page.tablet .sidebar-list ul a:nth-child(n+7) {
    display: none;
  }
}

@media (min-width: 992px) and (orientation: landscape) {
  #page.tablet .image-sidebar-section ul a:nth-child(n+9),
  #page.tablet .sidebar-list ul a:nth-child(n+9) {
    display: none;
  }
}

#bot-bar {
  position: fixed;
  padding: 5px 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  border-top: solid 1px #e3e3e3;
  background-color: #fff;
  font-size: 0;
  z-index: 10002;
}

#bot-bar .button {
  position: relative;
  height: 100%;
  width: 50px;
}

#bot-bar .button .box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .3s ease;
}

#bot-bar .button .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #e3000f;
  transform-origin: center;
  transform: scaleX(0);
  transition: .3s ease;
}

#bot-bar .button img {
  position: relative;
  padding: 5px;
  height: 100%;
  z-index: 1;
}

#bot-bar .button:hover .box::before, #bot-bar .button.active .box::before {
  transform: scaleX(1);
}

#search-popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 110;
}

#search-popup .box {
  position: absolute;
  top: 100px;
  left: 50%;
  max-width: 100%;
  transform: translateX(-50%);
}

#search-popup .box .search-bar {
  width: 90vw;
}

#search-popup:not(.show) {
  display: none;
}

@media (min-width: 1201px) {
  #bot-bar,
  #search-bar {
    display: none !important;
  }
}

form.search-bar .input-group .hitbox {
  position: absolute;
  padding: 0;
  top: 6px;
  left: 14px;
  width: 30px;
  height: 30px;
  z-index: 10;
  cursor: pointer;
  background-image: url(../images/search.svg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none;
}

form.search-bar .input-group .form-control {
  border-radius: 50px;
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

#popup .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

#popup .box .controls {
  position: absolute;
  right: 0;
  bottom: 100%;
  transform: translate(15px, 15px);
}

#popup .box .controls > * {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #e3000f;
  border-radius: 50%;
}

#popup .box .controls > * * {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

#popup .box .view {
  width: 640px;
  height: 480px;
  background-color: #fff;
}

#popup .box .view iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/*# sourceMappingURL=facepalm.css.map */
