.fw-regular {
  font-family: "open_sansregular";
}

.fw-semibold {
  font-family: "open_sanssemibold";
}

.fw-bold {
  font-family: "open_sansbold";
}

.fw-bolder {
  font-family: "open_sansextrabold";
}

.fw-italic {
  font-family: "gelasioitalic";
}

.fc-none {
  color: transparent;
}

.fc-none-hover {
  transition: all .3s linear;
}

.fc-none-hover:hover {
  color: transparent;
}

.bg-none {
  background-color: transparent;
}

.bg-none-hover {
  transition: all .3s linear;
}

.bg-none-hover:hover {
  background-color: transparent;
}

.br-none {
  border: solid 2px transparent;
}

.br-none-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-none-hover:hover {
  border-color: transparent;
}

.fc-white {
  color: #fff;
}

.fc-white-hover {
  transition: all .3s linear;
}

.fc-white-hover:hover {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-white-hover {
  transition: all .3s linear;
}

.bg-white-hover:hover {
  background-color: #fff;
}

.br-white {
  border: solid 2px #fff;
}

.br-white-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-white-hover:hover {
  border-color: #fff;
}

.fc-black {
  color: #141c1f;
}

.fc-black-hover {
  transition: all .3s linear;
}

.fc-black-hover:hover {
  color: #141c1f;
}

.bg-black {
  background-color: #141c1f;
}

.bg-black-hover {
  transition: all .3s linear;
}

.bg-black-hover:hover {
  background-color: #141c1f;
}

.br-black {
  border: solid 2px #141c1f;
}

.br-black-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-black-hover:hover {
  border-color: #141c1f;
}

.fc-grey-light {
  color: #fcfafa;
}

.fc-grey-light-hover {
  transition: all .3s linear;
}

.fc-grey-light-hover:hover {
  color: #fcfafa;
}

.bg-grey-light {
  background-color: #fcfafa;
}

.bg-grey-light-hover {
  transition: all .3s linear;
}

.bg-grey-light-hover:hover {
  background-color: #fcfafa;
}

.br-grey-light {
  border: solid 2px #fcfafa;
}

.br-grey-light-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-grey-light-hover:hover {
  border-color: #fcfafa;
}

.fc-grey {
  color: #e3e3e3;
}

.fc-grey-hover {
  transition: all .3s linear;
}

.fc-grey-hover:hover {
  color: #e3e3e3;
}

.bg-grey {
  background-color: #e3e3e3;
}

.bg-grey-hover {
  transition: all .3s linear;
}

.bg-grey-hover:hover {
  background-color: #e3e3e3;
}

.br-grey {
  border: solid 2px #e3e3e3;
}

.br-grey-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-grey-hover:hover {
  border-color: #e3e3e3;
}

.fc-grey-dark {
  color: #c6c4c4;
}

.fc-grey-dark-hover {
  transition: all .3s linear;
}

.fc-grey-dark-hover:hover {
  color: #c6c4c4;
}

.bg-grey-dark {
  background-color: #c6c4c4;
}

.bg-grey-dark-hover {
  transition: all .3s linear;
}

.bg-grey-dark-hover:hover {
  background-color: #c6c4c4;
}

.br-grey-dark {
  border: solid 2px #c6c4c4;
}

.br-grey-dark-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-grey-dark-hover:hover {
  border-color: #c6c4c4;
}

.fc-dark {
  color: #141c1f;
}

.fc-dark-hover {
  transition: all .3s linear;
}

.fc-dark-hover:hover {
  color: #141c1f;
}

.bg-dark {
  background-color: #141c1f;
}

.bg-dark-hover {
  transition: all .3s linear;
}

.bg-dark-hover:hover {
  background-color: #141c1f;
}

.br-dark {
  border: solid 2px #141c1f;
}

.br-dark-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-dark-hover:hover {
  border-color: #141c1f;
}

.fc-red {
  color: #e3000f;
}

.fc-red-hover {
  transition: all .3s linear;
}

.fc-red-hover:hover {
  color: #e3000f;
}

.bg-red {
  background-color: #e3000f;
}

.bg-red-hover {
  transition: all .3s linear;
}

.bg-red-hover:hover {
  background-color: #e3000f;
}

.br-red {
  border: solid 2px #e3000f;
}

.br-red-hover {
  border: solid 2px transparent;
  transition: all .3s linear;
}

.br-red-hover:hover {
  border-color: #e3000f;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a:hover, a:focus {
  text-decoration: none;
}

.pointer, .pointer * {
  cursor: pointer;
}

.fp-btn, .fp-btn:active, .fp-btn:focus {
  padding: 10px 20px;
  text-align: center;
  transition: all .3s ease-in-out;
  background-color: transparent;
  border: solid 2px;
  outline: none;
}

.fp-btn.btn-more {
  font-family: "open_sansbold";
  color: #fff;
  border-color: #e3000f;
  background-color: #e3000f;
}

.fp-btn.btn-more:hover {
  color: #e3000f;
  background-color: #fff;
}

.hot {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/hot.svg");
  background-origin: content-box;
  background-color: white;
  border-radius: 50%;
}

.popular-post .video-post {
  background-image: url("../images/play.svg");
}

.popular-post .gallery-post {
  background-image: url("../images/images.svg");
}

.popular-post .video-post,
.popular-post .gallery-post {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  background-size: contain;
  z-index: 5;
}

.youtube_video {
  width: 100%;
  height: 400px;
  max-height: 100vh;
}

.adbox {
  display: flex;
  margin: 15px auto;
  align-items: flex-start;
  justify-content: center;
}

.adbox img {
  display: inline-block;
  max-width: 100%;
  width: 100%;
}

@media (min-width: 576px) {
  .adbox img {
    width: initial;
    max-height: 90vh;
  }
}

.post-tags {
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
}

.post-tags .item {
  padding: 2px 7px;
  margin-right: 4px;
  background-color: #e3000f;
  color: #fff;
  font-family: "open_sansbold";
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 2px;
}

img.tag-icon {
  display: inline-block;
  height: 1em;
  width: 1em;
}

.position-sticky {
  top: 0;
}

ol, ul {
  list-style-position: inside;
}

#btn_more {
  margin: 0 auto;
  width: calc( 100% - 30px);
}

#btn_more .spinner {
  display: none;
  top: 50%;
  left: 20px;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}

#btn_more .spinner .box {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-color: #fff;
  border-width: 3px 0px 3px 0px;
  border-radius: 50%;
  background-color: #e3000f;
  transition: all .3s linear;
}

#btn_more.loading .spinner {
  display: block;
}

#btn_more.loading .spinner .box {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

#btn_more:hover .spinner .box {
  border-color: #e3000f;
  background-color: #fff;
}

#live > .container > .row > *:not(.btn) {
  min-height: 100px;
}

#live > .container > .row > .box {
  /* padding: 24px 34px; */
  line-height: 34px;
  font-size: 20px;
  text-transform: uppercase;
}

#live > .container > .row > .info > .header {
  font-size: 20px;
}

#live > .container > .row > .info > .subheader {
  font-size: 18px;
}

#live > .container > .row > .banner {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

#live > .container > .row > .btn {
  padding: 7px 11px;
  text-transform: uppercase;
}

#live > .container > .row > .btn > .icon {
  padding-right: 10px;
  font-size: 20px;
}

#category #sidebar {
  margin-top: 45px;
  top: 50px;
}

#post .content a {
  border-bottom: solid 2px #e3000f;
}

@media (max-width: 1200px) {
  #post .content.main p, #post .content.main img {
    padding: 1rem;
  }
}

#post .slickGallery {
  position: relative;
}

#post .slickGallery .items {
  margin: 0;
  font-size: 0;
}

#post .slickGallery .items .fpItem {
  border: none;
  margin: 0;
  height: 150px;
}

#post .slickGallery .items .fpItem > div {
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
  background-color: #e3e3e3;
}

#post .slickGallery .nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 0px;
}

#post .slickGallery .nav .arrow {
  position: absolute;
  margin: 0;
  padding: 6px;
  top: 0;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease;
  transform: translateY(-50%);
}

#post .slickGallery .nav .arrow.prev {
  left: 0;
}

#post .slickGallery .nav .arrow.next {
  right: 0;
}

#post .slickGallery .slick-dots {
  margin-top: 20px;
  top: 100%;
}

#post .slickGallery .slick-dots li {
  width: initial;
  height: initial;
}

#post .slickGallery .slick-dots li button {
  padding: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 3px transparent;
  background-color: #e3000f;
  background-clip: content-box;
  transition: all .3s ease;
}

#post .slickGallery .slick-dots li button::before {
  content: none;
}

#post .slickGallery .slick-dots li.slick-active button {
  border-color: #e3000f;
  background-color: transparent;
}

#post .fpGallery {
  font-size: 0;
}

#post .fpGallery .fpLink {
  display: inline-block;
  margin: 2px;
  height: 150px;
  width: 50vw;
  max-width: 160px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

@media (min-width: 576px) {
  #post #single_sidebar_top .position-sticky {
    margin-top: 30px;
  }
}

@media (min-width: 992x) {
  #post #single_sidebar_top .position-sticky {
    margin-top: 0px;
  }
}

@media (min-width: 576px) {
  #post #single_sidebar_bot .position-sticky {
    margin-top: 30px;
  }
}

@media (min-width: 992x) {
  #post #single_sidebar_bot .position-sticky {
    margin-top: 0px;
  }
}

#post #more {
  padding: 1rem;
}

#search .tile {
  padding: 1.2rem 1rem;
}

#search .tile .img {
  width: 160px;
  height: 90px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/no-photo.png);
}

#search .tile .title {
  padding-left: 20px;
}

#search .tile, #search .tile:hover, #search .tile:focus {
  text-decoration: none;
}

#popularne #sidebar {
  top: 50px;
  margin-top: 40px;
}

@media (min-width: 1200px) {
  #sponsorowane #sidebar {
    margin-top: 50px;
  }
}

#page .banner {
  height: 50vh;
  max-height: 300px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e3e3e3;
}

#page .banner .text {
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 4px #000;
  font-size: 36px;
}

#page .content {
  margin: 30px auto;
}

#page #sidebar {
  top: 50px;
}

#page #kamery .item iframe, #page #kamery .item .img {
  width: 100%;
  height: 40vw;
  max-height: 300px;
}

#page #kamery .item .img {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#page #kamery .item .text {
  padding: 10px 0;
  font-size: 20px;
}

/*# sourceMappingURL=facepalm.css.map */
