* {
  margin: 0;
  padding: 0;
  cursor: default;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 13px;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  font-family: "open_sansregular";
}

a,
a * {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

h2 {
  font-family: "open_sansbold";
  font-size: 2.35rem;
  line-height: 1.4;
}

button:active,
button:focus {
  border: none;
  background-color: none;
}

@media (min-width: 992px) {
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
  }
}

.sticky-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.reklama-sidebar {
  display: flex;
  justify-content: center;
  margin: 40px 0 30px;
  max-width: 403px;
  height: 700px;
  background-color: #efefef;
}

.reklama-sidebar .reklama {
  display: flex;
  align-items: center;
  color: #b9b9b9;
}

.reklama-oferta-sidebar {
  display: flex;
  justify-content: center;
  max-width: 403px;
  margin-bottom: 30px;
  height: 230px;
  background-color: #efefef;
}

.reklama-oferta-sidebar .reklama {
  display: flex;
  align-items: center;
  color: #b9b9b9;
}

.reklama-oferta-sidebar:first-child {
  margin-top: 70px;
}

.reklama-full-page {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  max-width: 1200px;
  height: 150px;
  background-color: #efefef;
}

.reklama-full-page .reklama {
  display: flex;
  align-items: center;
  color: #b9b9b9;
}

.reklama-pion-oferta {
  display: flex;
  justify-content: center;
  height: 490px;
  width: 100%;
  background-color: #efefef;
}

.reklama-pion-oferta .reklama {
  display: flex;
  align-items: center;
  color: #b9b9b9;
}

.reklama-poziom-oferta {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 230px;
  width: 100%;
  background-color: #efefef;
}

.reklama-poziom-oferta .reklama {
  display: flex;
  align-items: center;
  color: #b9b9b9;
}

a:hover {
  color: #141c1f;
}

a.red-link,
a.red-link:visited {
  text-decoration: none;
  position: relative;
  color: #e3000f;
}

a.red-link:after,
a.red-link:visited:after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background: #e3000f;
  transition: 0.3s;
}

a.red-link:hover:after,
a.red-link:visited:hover:after {
  width: 100%;
}

.button-line {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-line:before {
  content: '';
  width: 100%;
  left: 0;
  height: 1px;
  background-color: #e3e3e3;
  margin-right: auto;
}

.button-line a,
.button-line input[type="submit"] {
  border: 1px solid #e3e3e3;
  padding: 7px 14px;
  text-transform: uppercase;
  font-family: "open_sansbold";
  font-size: 1rem;
  max-width: 100%;
  text-align: center;
  /* margin-left: 144px; */
  min-width: 10vw;
  margin: 0;
  color: #141c1f;
  white-space: normal;
}

.navbar-expand-lg {
  border-bottom: 1px solid #e3e3e3;
}

.navbar-expand-xl {
  border-bottom: 1px solid #e3e3e3;
}

li.active a.red-link:after {
  content: '';
  width: 100%;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #000;
}

li.nav-item:not(:last-child) {
  padding-right: 30px;
}

#navbarResponsive {
  color: #141c1f;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link {
  color: inherit;
  font-size: 1rem;
  font-family: "open_sansbold";
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #000;
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar-expand-xl .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

section.head-menu .head-items {
  display: flex;
  align-items: center;
  padding: 2rem 0 1rem;
}

section.head-menu .head-items .logo img {
  max-width: 12vw;
}

section.head-menu .head-items .weather ul {
  margin: 0;
  padding: 0;
}

section.head-menu .head-items .weather ul li {
  list-style: none;
  display: inline-block;
  margin-left: 3rem;
}

section.head-menu .head-items .weather ul li img {
  margin-right: 0.5rem;
}

section.head-menu .head-items .weather ul li a {
  color: #141c1f;
  font-size: 1rem;
  text-transform: uppercase;
}

.search-bar {
  min-width: 20vw;
  border-radius: 30px;
  background-color: #fff;
}

.search-bar .input-group {
  position: relative;
}

.search-bar .input-group:before {
  content: '';
  position: absolute;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  top: 14px;
  left: 20px;
  z-index: 10;
}

.search-bar .form-control {
  border: 1px solid #e3e3e3;
  background-color: transparent;
  z-index: 2;
}

.search-bar input {
  border-top-right-radius: 50px;
  border-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 20px 0 20px 45px;
  cursor: text;
}

.clear-top {
  margin: 30px 0;
  display: block;
}

.link_post .big-post {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 42%;
}

.link_post .big-post .video-icon {
  background-image: url("../images/play.svg");
  width: 40px;
  height: 40px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.link_post .big-post .cover_img {
  background-image: url("../images/mask.png");
  background-image: linear-gradient(0deg, black, transparent 70%);
  background-position: bottom;
  display: block;
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 100%;
  background-repeat: no-repeat;
}

.link_post .big-post .post_news_big {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.link_post .big-post .post_news_big span {
  position: absolute;
  margin: 0;
  padding: 10px;
  z-index: 2;
  left: 0;
  bottom: 0;
  color: #fff;
  font-family: "open_sansextrabold";
  font-size: 17px;
  text-shadow: 0 1px 1.6px #141c1f;
  text-shadow: 0 0.0275rem 0.05rem #141c1f;
}

.link_post .big-post .post_news_big span .tag {
  position: absolute;
  padding: 2px 7px;
  left: 0;
  bottom: 150px;
  color: #fff;
  font-family: "open_sansbold";
  font-size: 0.8rem;
  background-color: #e3000f;
  text-transform: uppercase;
  border-radius: 2px;
}

.link_post:hover .big-post {
  opacity: 0.95;
  transition: 0.1s all;
}

.link_post_small {
  display: block;
  margin-bottom: 10px;
}

.link_post_small .small-post .video-icon {
  background-image: url("../images/play.svg");
  width: 40px;
  height: 40px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.link_post_small .post_news_small {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: 28.125vw;
  height: 0;
  overflow: hidden;
}

.link_post_small .cover_img {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.link_post_small span {
  display: block;
  margin-top: 5px;
  color: #141c1f;
  font-size: 1.3rem;
  font-family: "open_sanssemibold";
}

h5.title-sidebar {
  color: #141c1f;
  font-family: "open_sansbold";
  padding: 0 0 1.5rem 20px;
  position: relative;
  margin: 0;
}

h5.line {
  border-bottom: 1px solid #e3e3e3;
}

h5.title-sidebar:before {
  content: '';
  position: absolute;
  left: 0;
  top: 4.5px;
  background-color: #e3000f;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.sidebar-list ul {
  margin: 0;
  padding: 0;
}

.sidebar-list ul a {
  color: #141c1f;
  font-family: "open_sanssemibold";
  font-size: 1.3rem;
  text-decoration: none;
}

.sidebar-list ul a li {
  list-style: none;
  padding: 1.5rem 20px;
  position: relative;
}

.sidebar-list ul a li .data {
  display: block;
  margin-top: 2px;
  font-size: 1rem;
  color: #c6c4c4;
}

.sidebar-list ul a li .tag {
  color: #fff;
  font-family: "open_sansbold";
  font-size: 0.8rem;
  background-color: #e3000f;
  padding: 5px;
  text-transform: uppercase;
  padding: 2px 7px;
  border-radius: 2px;
}

.sidebar-list ul a li:after {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  background: #e3000f;
  transition: 0.3s;
}

.sidebar-list ul a:not(:last-child) li {
  border-bottom: 1px solid #e3e3e3;
}

ul.image-sidebar-section {
  font-size: 0;
}

ul.image-sidebar-section a {
  display: block;
  width: 100%;
  font-family: "open_sansregular";
  font-size: 1.1rem;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

ul.image-sidebar-section a li {
  display: flex;
  align-items: flex-start;
  padding: 1.5rem 0;
}

ul.image-sidebar-section a li span {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 13px;
}

ul.image-sidebar-section a .image-container {
  background-color: #141c1f;
  width: 40%;
  width: 10rem;
  position: relative;
}

ul.image-sidebar-section a .image-container .video-icon {
  background-image: url("../images/play.svg");
  width: 40px;
  height: 40px;
  transform: scale(0.8);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

ul.image-sidebar-section a .image-container .image {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: 100%;
  height: 0;
  background-position: center;
  position: relative;
  background-size: cover;
}

.najbardziej-popularne .link_post_small span {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 0;
  margin: 0 20px;
  color: #fff;
  font-family: "open_sansextrabold";
  font-size: 1.5rem;
  text-shadow: 0 1px 1.6px #141c1f;
  text-shadow: 0 0.0275rem 0.05rem #141c1f;
  z-index: 5;
}

@media (min-width: 768) {
  .najbardziej-popularne .link_post_small span {
    padding: 50px 0;
    margin: 0 50px;
  }
}

.najbardziej-popularne .link_post_small .post_news_small {
  height: 37rem;
}

.najbardziej-popularne .link_post_small:hover .post_news_small {
  opacity: 0.95;
  transition: 0.1s all;
}

.najbardziej-popularne .popular-post {
  position: relative;
}

.najbardziej-popularne .mask-popular {
  background-image: url("../images/mask.png");
  display: block;
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 63%;
  background-repeat: no-repeat;
}

.slider-arrows .prev {
  background: transparent;
  border: 1px solid #e3e3e3;
  max-width: 60px;
  max-height: 60px;
  padding: 10px;
}

.slider-arrows .prev:hover {
  background-color: #e3e3e3;
  transition: 0.3s all;
}

.slider-arrows .prev img {
  max-width: 1.6rem;
  transform: rotate(180deg);
}

.slider-arrows .next {
  background: transparent;
  border: 1px solid #e3e3e3;
  max-width: 60px;
  max-height: 60px;
  padding: 10px;
  margin-left: -1px;
}

.slider-arrows .next:hover {
  background-color: #e3e3e3;
  transition: 0.3s all;
}

.slider-arrows .next img {
  max-width: 1.6rem;
}

.filmy-promocyjne .single {
  margin-bottom: 30px;
  display: block;
}

.filmy-promocyjne .single .image-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #fff;
}

.filmy-promocyjne .single .image-container .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.filmy-promocyjne .single .image-container .video-icon {
  background-image: url("../images/play.svg");
  width: 40px;
  height: 40px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.filmy-promocyjne .single:hover .image {
  opacity: 0.8;
}

.filmy-promocyjne .single:last-child {
  margin-bottom: 50px;
}

.oferty-sponsorowane {
  margin-bottom: 30px;
}

footer.bg-footer {
  margin-top: 30px;
  background-color: #f7f7f7;
}

footer.bg-footer .foot-content {
  padding: 30px 0;
}

footer.bg-footer .foot-content .logo img {
  max-width: 12rem;
}

footer.bg-footer .foot-content .logo_menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

footer.bg-footer .foot-content .logo_menu ul {
  margin: 0;
  padding: 0;
}

footer.bg-footer .foot-content .logo_menu ul li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}

footer.bg-footer .foot-content .logo_menu ul li a {
  display: inline-block;
  color: #141c1f;
  font-size: 1rem;
  font-family: "open_sansbold";
  text-transform: uppercase;
  padding: 5px 0;
}

footer.bg-footer .foot-content .contact-info {
  margin: 35px 0 0;
}

footer.bg-footer .foot-content .contact-info span {
  margin-right: 30px;
}

footer.bg-footer .foot-content .contact-info a {
  color: #141c1f;
  padding: 0 8px;
  text-decoration: underline;
}

footer.bg-footer .foot-content .contact-info a:hover {
  color: #e3000f;
  transition: 0.2s all;
}

footer.bg-footer .copy {
  border-top: 1px solid #e3e3e3;
  background-color: #fff;
}

footer.bg-footer .copy .copy-content {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.before-content .author_date_tags {
  display: flex;
  align-items: center;
  margin: 20px 0 0;
}

.before-content .author_date_tags span.author {
  font-family: "open_sansbold";
  text-transform: uppercase;
}

.before-content .author_date_tags span.date {
  font-size: 1rem;
  color: #8e8e8e;
}

.before-content .author_date_tags .item,
.before-content .author_date_tags span.tag {
  color: #fff;
  font-family: "open_sansbold";
  font-size: 0.8rem;
  background-color: #e3000f;
  padding: 5px;
  text-transform: uppercase;
  padding: 2px 7px;
  border-radius: 2px;
}

.before-content .author_date_tags span.separator {
  margin: 0 10px;
  position: relative;
  display: inline-block;
  height: 20px;
  width: 1px;
  background-color: #e3e3e3;
}

.before-content .share_comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.before-content .share_comment .social_share a:hover {
  text-decoration: none;
}

.before-content .share_comment .social_share span {
  margin-right: 5px;
}

.before-content .share_comment .social_share span img {
  max-width: 3rem;
}

.before-content .share_comment .comment {
  position: relative;
  max-width: 100%;
  border: 1px solid #e3e3e3;
  background-color: transparent;
  z-index: 2;
  border-top-right-radius: 50px;
  border-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 10px 30px;
}

.before-content .share_comment .comment .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.before-content .share_comment .comment .icon img {
  max-width: 1.1rem;
  margin-right: 8px;
}

.before-content .share_comment .comment .comment_value {
  max-width: 100%;
  font-family: "open_sanssemibold";
}

.before-content .share_comment .comment .comment_value .content {
  padding-left: 30px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.before-content .share_comment .comment .author_comment {
  padding-left: 20px;
  color: #8e8e8e;
}

.before-content .share_comment .comment .comments_que {
  background-color: #0049e3;
  color: #fff;
  position: absolute;
  right: 0;
  top: -15px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  font-family: "open_sanssemibold";
  display: flex;
  justify-content: center;
  align-items: center;
}

.before-content .share_comment a, .before-content .share_comment a:hover {
  color: inherit;
  text-decoration: none;
}

.content img {
  max-width: 100%;
  height: auto;
}

.content p {
  font-family: "open_sansregular";
  font-size: 1.3rem;
  line-height: 1.8;
  margin-bottom: 0;
}

.content p.quote {
  font-family: "gelasioitalic";
  width: 80%;
  margin: 20px auto;
  font-size: 1.4rem;
}

.content .zajawka p {
  font-family: "open_sansbold";
  font-size: 1.3rem;
  line-height: 1.8;
}

.komentarze .comments {
  padding: 20px;
  background-color: #f7f7f7;
}

.komentarze .comments .comment-content,
.komentarze .comments .comment-form-comment {
  margin: 30px 0 0;
}

.komentarze .comments .comment-form-author,
.komentarze .comments .comment-sign {
  margin: 15px 0 45px;
}

.komentarze .comments .comment-reply-title,
.komentarze .comments p {
  font-size: 1.3rem;
  font-family: "open_sansbold";
  margin-bottom: 5px;
}

.komentarze textarea {
  width: 100%;
  padding: 10px 15px;
  border: none;
  height: 10rem;
  font-size: 1.2rem;
}

.komentarze input {
  padding: 10px 15px;
  width: 100%;
  font-size: 1.2rem;
  border: none;
}

.komentarze .button-line a,
.komentarze .button-line input[type="submit"] {
  width: initial;
}

.komentarze .button-line a:hover,
.komentarze .button-line input[type="submit"]:hover {
  text-decoration: none;
  background-color: #e3000f;
  color: #fff;
  transition: 0.2s all;
}

.komentarze .que {
  margin: 30px 0;
  display: flex;
  align-items: center;
  font-family: "open_sanssemibold";
}

.komentarze .que span {
  background-color: #0049e3;
  color: #fff;
  position: relative;
  width: 25px;
  display: inline-block;
  height: 25px;
  border-radius: 25px;
  font-family: "open_sanssemibold";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.users-comments .single-comment {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.users-comments .single-comment .comment {
  display: flex;
  align-items: center;
}

.users-comments .single-comment .comment .user-data {
  display: flex;
  align-items: center;
}

.users-comments .single-comment .comment span.author {
  font-family: "open_sansbold";
  text-transform: uppercase;
}

.users-comments .single-comment .comment span.date {
  font-size: 1rem;
  color: #8e8e8e;
}

.users-comments .single-comment .comment span.separator {
  margin: 0 10px;
  position: relative;
  display: inline-block;
  height: 20px;
  width: 1px;
  background-color: #e3e3e3;
}

.users-comments .single-comment .comment p.text {
  margin-top: 15px;
  font-family: "gelasioitalic";
  font-size: 1.3rem;
}

.users-comments .single-comment .comment .user-avatar {
  padding: 5px;
  width: 70px;
  height: 70px;
  background: #ffffff;
  border-radius: 100%;
  display: inline-block;
  margin-right: 20px;
  border: 1px solid #ebebeb;
  overflow: hidden;
}

.users-comments .single-comment .comment .user-avatar .image {
  background-position: center;
  background-size: cover;
  background-image: url("../images/nttv_avatar.jpg");
  width: 100%;
  height: 100%;
}

.users-comments .answer-btn button {
  background-color: #f7f7f7;
  border: none;
  padding: 6px 18px;
  border-radius: 15px;
  font-family: "open_sanssemibold";
}

.users-comments .answer-btn button:hover {
  background-color: #e3000f;
  transition: 0.2s all;
}

.users-comments .answer-btn button:hover,
.users-comments .answer-btn button:hover * {
  color: #fff;
}

.users-comments .answer-comment {
  margin-left: 50px;
}

.no-mobile {
  display: none;
}

.no-desktop {
  display: inherit;
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 276px) and (max-width: 600px) {
  h2 {
    font-size: 1.8rem;
    padding: 1rem;
  }
  .reklama-sidebar {
    max-width: 100%;
  }
  .reklama-full-page {
    margin: 20px auto;
  }
  .reklama-oferta-sidebar {
    max-width: 100%;
  }
  .reklama-oferta-sidebar:first-child {
    margin-top: 30px;
  }
  .slider-arrows {
    margin-right: 1rem;
  }
  .button-line {
    margin-top: -1px;
  }
  .button-line a {
    margin: 10px auto;
    max-width: 200px;
    width: 100%;
  }
  .button-line:before {
    display: none;
  }
  h5.title-sidebar {
    margin: 0;
    padding: 1rem 0 1rem 2.6rem;
  }
  h5.title-sidebar:before {
    left: 1rem;
    top: 19.5px;
  }
  .clear-top {
    margin: 0;
  }
  html {
    overflow-x: hidden;
  }
  .no-desktop {
    display: none;
  }
  .no-mobile {
    display: inherit;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  a:focus,
  button:focus,
  span:focus {
    outline: none !important;
  }
  .display-mobile {
    display: inherit !important;
  }
  .sticky-menu {
    position: inherit;
  }
  .head-menu {
    display: none;
  }
  li.active {
    background-color: #e3000f;
  }
  li.active a.nav-link {
    color: #fff;
  }
  li.active a.nav-link:after {
    content: '';
    width: 0;
  }
  a.red-link:hover:after,
  a.red-link:visited:hover:after {
    width: 0;
  }
  .navbar-dark .navbar-nav .active > .nav-link {
    color: #fff;
  }
  .navbar {
    padding: 0;
  }
  .navbar span.circle {
    background-color: #141c1f;
    width: 2px;
    height: 2px;
    position: relative;
    padding: 2.1px;
    border-radius: 50%;
    margin: 4px 0;
    display: block;
  }
  .navbar span.toggler-name {
    font-family: "open_sansbold";
    margin-right: 15px;
  }
  .navbar button.collapsed {
    background-color: #fff !important;
    border-bottom: 3px solid #fff !important;
  }
  .navbar button.navbar-toggler {
    background-color: #fff;
    border-bottom: 3px solid #fff;
  }
  .navbar button.navbar-toggler:focus {
    border-bottom: 3px solid #e3000f;
  }
  .navbar-dark .navbar-toggler {
    color: #141c1f;
    border-left: 1px solid #e3e3e3;
    border-radius: 0;
    padding: 1rem 2rem;
  }
  .logo img {
    max-width: 15rem;
    margin-right: auto;
    padding-left: 1rem;
  }
  .navbar-nav li.nav-item {
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid #e3e3e3;
  }
  .navbar-nav li.nav-item:last-child {
    border-bottom: 1px solid transparent;
  }
  .link_post .big-post {
    background: #000;
    position: relative;
    overflow: hidden;
    /* margin-left: -15px; */
    margin-right: -15px;
  }
  .link_post_small span {
    font-size: 1.1rem;
    padding: 1rem;
  }
  .sidebar-list ul a {
    font-size: 1.1rem;
  }
  .sidebar-list ul a li {
    padding: 1.2rem 1rem;
    width: 100%;
  }
  .link_post_small {
    margin-bottom: 0;
  }
  .before-content {
    padding: 1rem;
  }
  .before-content .author_date_tags {
    margin: 0;
  }
  .before-content .share_comment {
    justify-content: flex-start;
    align-items: baseline;
  }
  .before-content .social_share {
    margin-bottom: 25px;
  }
  .content p {
    padding: 1rem 0;
  }
  .komentarze .users-comments {
    padding: 0 1rem;
  }
  .komentarze .users-comments .single-comment {
    flex-direction: column;
  }
  .komentarze .comments {
    padding: 1rem;
  }
  .komentarze .que {
    padding: 0 1rem;
  }
  footer.bg-footer .foot-content .logo_menu {
    display: block;
    text-align: center;
  }
  footer.bg-footer .foot-content .logo_menu ul li {
    display: block;
    margin: 10px 0;
  }
  footer.bg-footer .foot-content .contact-info {
    text-align: center;
    display: block;
  }
  footer.bg-footer .foot-content .contact-info span {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 1.1rem;
    display: block;
  }
  footer.bg-footer .foot-content .contact-info a {
    padding: 5px 0;
    display: block;
    text-align: center;
  }
  footer.bg-footer .copy .copy-content {
    padding: 30px 1rem;
    display: block;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: none;
  }
  h2 {
    font-size: 1.8rem;
    padding: 1rem;
  }
  .reklama-sidebar {
    max-width: 100%;
  }
  .reklama-full-page {
    margin: 20px auto;
  }
  .reklama-oferta-sidebar {
    max-width: 100%;
  }
  .reklama-oferta-sidebar:first-child {
    margin-top: 30px;
  }
  .slider-arrows {
    margin-right: 1rem;
  }
  .button-line {
    margin-top: -1px;
  }
  .button-line a {
    margin: 10px auto;
    max-width: 400px;
    width: 100%;
  }
  .button-line:before {
    display: none;
  }
  h5.title-sidebar {
    margin: 1rem 1rem 0;
  }
  .clear-top {
    margin: 0;
  }
  html {
    overflow-x: hidden;
  }
  .no-desktop {
    display: none;
  }
  .no-mobile {
    display: inherit;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  a:focus,
  button:focus,
  span:focus {
    outline: none !important;
  }
  .display-mobile {
    display: inherit !important;
  }
  .sticky-menu {
    position: inherit;
  }
  .head-menu {
    display: none;
  }
  li.active {
    background-color: #e3000f;
  }
  li.active a.nav-link {
    color: #fff;
  }
  li.active a.nav-link:after {
    content: '';
    width: 0;
  }
  a.red-link:hover:after,
  a.red-link:visited:hover:after {
    width: 0;
  }
  .navbar-dark .navbar-nav .active > .nav-link {
    color: #fff;
  }
  .navbar {
    padding: 0;
  }
  .navbar span.circle {
    background-color: #141c1f;
    width: 2px;
    height: 2px;
    position: relative;
    padding: 2.1px;
    border-radius: 50%;
    margin: 4px 0;
    display: block;
  }
  .navbar span.toggler-name {
    font-family: "open_sansbold";
    margin-right: 15px;
  }
  .navbar button.collapsed {
    background-color: #fff !important;
    border-bottom: 3px solid #fff !important;
  }
  .navbar button.navbar-toggler {
    background-color: #fff;
    border-bottom: 3px solid #fff;
  }
  .navbar button.navbar-toggler:focus {
    border-bottom: 3px solid #e3000f;
  }
  .navbar-dark .navbar-toggler {
    color: #141c1f;
    border-left: 1px solid #e3e3e3;
    border-radius: 0;
    padding: 1rem 2rem;
  }
  .logo img {
    padding-left: 1rem;
  }
  .navbar-nav li.nav-item {
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid #e3e3e3;
  }
  .navbar-nav li.nav-item:last-child {
    border-bottom: 1px solid transparent;
  }
  .link_post .big-post {
    background: #000;
    position: relative;
    overflow: hidden;
    /* margin-left: -15px; */
    margin-right: -15px;
  }
  .link_post_small span {
    font-size: 1.1rem;
    padding: 1rem;
  }
  .sidebar-list ul a {
    font-size: 1.1rem;
  }
  .sidebar-list ul a li {
    padding: 1.2rem 1rem;
    width: 100%;
  }
  .link_post_small {
    margin-bottom: 0;
  }
  .before-content {
    padding: 1rem;
  }
  .before-content .author_date_tags {
    margin: 0;
  }
  .before-content .share_comment {
    justify-content: flex-start;
    align-items: baseline;
  }
  .before-content .social_share {
    margin-bottom: 25px;
  }
  .content p {
    padding: 1rem 0;
  }
  .komentarze .users-comments {
    padding: 0 1rem;
  }
  .komentarze .users-comments .single-comment {
    flex-direction: column;
  }
  .komentarze .comments {
    padding: 1rem;
  }
  .komentarze .que {
    padding: 0 1rem;
  }
  footer.bg-footer .foot-content .logo_menu {
    display: block;
    text-align: center;
  }
  footer.bg-footer .foot-content .logo_menu ul li {
    margin-left: 0;
    margin-bottom: 10px;
    display: block;
  }
  footer.bg-footer .foot-content .contact-info {
    text-align: center;
    display: block;
  }
  footer.bg-footer .foot-content .contact-info span {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 1.1rem;
    display: block;
  }
  footer.bg-footer .foot-content .contact-info a {
    padding: 5px 0;
    display: block;
    text-align: center;
  }
  footer.bg-footer .copy .copy-content {
    padding: 30px 1rem;
    display: block;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: none;
  }
  .reklama-pion-oferta {
    margin-top: 30px;
    height: 230px;
  }
  .reklama-sidebar {
    height: 200px;
  }
  h2 {
    font-size: 1.8rem;
    padding: 1rem;
  }
  .reklama-sidebar {
    max-width: 100%;
  }
  .reklama-full-page {
    margin: 20px auto;
  }
  .reklama-oferta-sidebar {
    max-width: 100%;
  }
  .reklama-oferta-sidebar:first-child {
    margin-top: 30px;
  }
  .slider-arrows {
    margin-right: 1rem;
  }
  .button-line a {
    margin: 10px auto;
    max-width: 400px;
    width: 100%;
  }
  .button-line:before {
    display: none;
  }
  h5.title-sidebar {
    margin: 0;
    padding: 1rem 0 1rem 2.6rem;
  }
  h5.title-sidebar:before {
    left: 1rem;
    top: 19.5px;
  }
  .clear-top {
    margin: 0;
  }
  html {
    overflow-x: hidden;
  }
  .no-desktop {
    display: none;
  }
  .no-mobile {
    display: inherit;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .row.no-gutters > [class^="col-"],
  .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  a:focus,
  button:focus,
  span:focus {
    outline: none !important;
  }
  .display-mobile {
    display: inherit !important;
  }
  .sticky-menu {
    position: inherit;
  }
  .head-menu {
    display: none;
  }
  li.active {
    background-color: #e3000f;
  }
  li.active a.nav-link {
    color: #fff;
  }
  li.active a.nav-link:after {
    content: '';
    width: 0;
  }
  a.red-link:hover:after,
  a.red-link:visited:hover:after {
    width: 0;
  }
  .navbar-dark .navbar-nav .active > .nav-link {
    color: #fff;
  }
  .navbar {
    padding: 0;
  }
  .navbar span.circle {
    background-color: #141c1f;
    width: 2px;
    height: 2px;
    position: relative;
    padding: 2.1px;
    border-radius: 50%;
    margin: 4px 0;
    display: block;
  }
  .navbar span.toggler-name {
    font-family: "open_sansbold";
    margin-right: 15px;
  }
  .navbar button.collapsed {
    background-color: #fff !important;
    border-bottom: 3px solid #fff !important;
  }
  .navbar button.navbar-toggler {
    background-color: #fff;
    border-bottom: 3px solid #fff;
  }
  .navbar button.navbar-toggler:focus {
    border-bottom: 3px solid #e3000f;
  }
  .navbar-dark .navbar-toggler {
    color: #141c1f;
    border-left: 1px solid #e3e3e3;
    border-radius: 0;
    padding: 1rem 2rem;
  }
  .logo img {
    max-width: 20rem;
    margin-right: auto;
    padding-left: 1rem;
  }
  .navbar-nav li.nav-item {
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid #e3e3e3;
  }
  .navbar-nav li.nav-item:last-child {
    border-bottom: 1px solid transparent;
  }
  .link_post .big-post {
    background: #000;
    position: relative;
    overflow: hidden;
    /* margin-left: -15px; */
    margin-right: -15px;
  }
  .link_post_small span {
    padding: 10px 0;
    margin: 0;
    font-size: 1.1rem;
    font-family: "open_sansbold";
  }
  .sidebar-list ul a {
    font-size: 1.1rem;
  }
  .sidebar-list ul a li {
    padding: 1.2rem 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
  }
  .ogloszenia-urzedowe a {
    display: inline-block;
    width: 49%;
  }
  .filmy-promocyjne .single {
    margin-bottom: 30px;
    display: inline-block;
    width: 49.7%;
    width: 100%;
  }
  .filmy-promocyjne .single:last-child {
    margin-bottom: 30px;
  }
  .link_post_small {
    margin-bottom: 0;
  }
  .before-content {
    padding: 1rem;
  }
  .before-content .author_date_tags {
    margin: 0;
  }
  .before-content .share_comment {
    justify-content: flex-start;
    align-items: baseline;
  }
  .before-content .social_share {
    margin-bottom: 25px;
  }
  .content p {
    padding: 1rem 0;
  }
  .komentarze .users-comments {
    padding: 0 1rem;
  }
  .komentarze .users-comments .single-comment {
    flex-direction: column;
  }
  .komentarze .comments {
    padding: 1rem;
  }
  .komentarze .que {
    padding: 0 1rem;
  }
  footer.bg-footer .foot-content .logo_menu {
    display: block;
    display: inline-block;
    text-align: center;
    width: 49%;
    vertical-align: middle;
  }
  footer.bg-footer .foot-content .logo_menu ul li {
    margin-left: 0;
    margin-bottom: 10px;
    display: block;
  }
  footer.bg-footer .foot-content .contact-info {
    display: block;
    display: inline-block;
    text-align: center;
    width: 49%;
    vertical-align: middle;
  }
  footer.bg-footer .foot-content .contact-info span {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 1.1rem;
    display: block;
  }
  footer.bg-footer .foot-content .contact-info a {
    padding: 5px 0;
    display: block;
    text-align: center;
  }
  footer.bg-footer .copy .copy-content {
    padding: 30px 1rem;
    display: block;
    text-align: center;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .reklama-sidebar {
    height: 700px;
  }
  .no-desktop {
    display: inherit;
  }
  .ogloszenia-urzedowe a {
    display: block;
    width: 100%;
  }
  .filmy-promocyjne .single {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
  }
  .filmy-promocyjne .single:last-child {
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
